<template>
    <section>
        <div class="hero-banner">
            <div class="text-align-center" v-if="blogDetail.id">
                <p class="hero-title">{{ stringCut(blogDetail.title, 45) }}</p>
                <p class="menu-link">
                    <span class="link text-muted" @click="goToHomePage">Home</span>
                    <span style="vertical-align: sub;">
                        <i class="ri-arrow-right-s-line text-muted"></i>
                    </span>
                    <span class="link" @click="goToBlogPage">Blog</span>
                </p>
            </div>
        </div>

        <div style="margin: 4em 0;">
            <div class="kbz-container">
                <div class="kbz-row">
                    <div class="kbz-col-8">
                        <div class="blog-post-detail" v-if="blogDetail.id">
                            <p class="title">
                                {{ blogDetail.title }}
                            </p>
                            <p class="blog-info ">
                                <span class="user">
                                    <span class="avatar">
                                        <img src="https://semantic-ui.com/images/avatar2/large/elyse.png" alt="">
                                    </span>
                                    <span>{{ blogDetail.user.name }}</span>
                                </span>
                                <span class="text-align-right">
                                    <span class="info">
                                        <span style="vertical-align: middle;">
                                            <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.304688 5.5C0.126953 5.5 0 5.65234 0 5.80469V12.4062C0 13.0918 0.533203 13.625 1.21875 13.625H10.1562C10.8164 13.625 11.375 13.0918 11.375 12.4062V5.80469C11.375 5.65234 11.2227 5.5 11.0703 5.5H0.304688ZM11.375 4.38281V3.46875C11.375 2.80859 10.8164 2.25 10.1562 2.25H8.9375V0.929688C8.9375 0.777344 8.78516 0.625 8.63281 0.625H7.61719C7.43945 0.625 7.3125 0.777344 7.3125 0.929688V2.25H4.0625V0.929688C4.0625 0.777344 3.91016 0.625 3.75781 0.625H2.74219C2.56445 0.625 2.4375 0.777344 2.4375 0.929688V2.25H1.21875C0.533203 2.25 0 2.80859 0 3.46875V4.38281C0 4.56055 0.126953 4.6875 0.304688 4.6875H11.0703C11.2227 4.6875 11.375 4.56055 11.375 4.38281Z" fill="#4F5A5E"/>
                                            </svg>
                                        </span>
                                        <span>{{ blogDetail.created_at | moment("DD/MM/YYYY") }}</span>
                                    </span>
                                    <span class="info">
                                        <span style="vertical-align: middle;">
                                            <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.5234 4.76953C13.1523 2.07812 10.4102 0.25 7.3125 0.25C4.18945 0.25 1.44727 2.07812 0.0761719 4.76953C0.0253906 4.87109 0 4.99805 0 5.125C0 5.27734 0.0253906 5.4043 0.0761719 5.50586C1.44727 8.19727 4.18945 10 7.3125 10C10.4102 10 13.1523 8.19727 14.5234 5.50586C14.5742 5.4043 14.5996 5.27734 14.5996 5.15039C14.5996 4.99805 14.5742 4.87109 14.5234 4.76953ZM7.3125 8.78125C5.28125 8.78125 3.65625 7.15625 3.65625 5.125C3.65625 3.11914 5.28125 1.46875 7.3125 1.46875C9.31836 1.46875 10.9688 3.11914 10.9688 5.125V5.15039C10.9688 7.15625 9.31836 8.80664 7.3125 8.80664V8.78125ZM7.3125 2.6875C7.08398 2.71289 6.85547 2.73828 6.65234 2.78906C6.80469 2.99219 6.88086 3.24609 6.88086 3.52539C6.88086 4.18555 6.34766 4.71875 5.6875 4.71875C5.4082 4.71875 5.1543 4.64258 4.95117 4.49023C4.90039 4.69336 4.875 4.92188 4.875 5.125C4.875 6.4707 5.9668 7.5625 7.3125 7.5625C8.6582 7.5625 9.75 6.4707 9.75 5.125C9.75 3.7793 8.6582 2.71289 7.3125 2.71289V2.6875Z" fill="#4F5A5E"/>
                                            </svg>
                                        </span>
                                        <span>25k views</span>
                                    </span>
                                    <span class="info">
                                        <span style="vertical-align: middle;">
                                            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.5 0.828125C3.02148 0.828125 0.203125 3.64648 0.203125 7.125C0.203125 10.6035 3.02148 13.4219 6.5 13.4219C9.97852 13.4219 12.7969 10.6035 12.7969 7.125C12.7969 3.64648 9.97852 0.828125 6.5 0.828125ZM8.83594 8.77539L8.32812 9.41016C8.25195 9.51172 8.15039 9.58789 7.99805 9.58789C7.92188 9.58789 7.82031 9.53711 7.76953 9.48633L6.06836 8.2168C5.81445 8.03906 5.6875 7.75977 5.6875 7.42969V3.46875C5.6875 3.26562 5.86523 3.0625 6.09375 3.0625H6.90625C7.10938 3.0625 7.3125 3.26562 7.3125 3.46875V7.125L8.78516 8.2168C8.86133 8.29297 8.9375 8.39453 8.9375 8.52148C8.9375 8.62305 8.88672 8.72461 8.83594 8.77539Z" fill="#4F5A5E"/>
                                            </svg>
                                        </span>
                                        <span>4 min read</span>
                                    </span>
                                </span>
                            </p>
                            <div class="blog-image">
                                <img :src="blogDetail.featured_image" alt="">
                            </div>
                            <p v-html="blogDetail.content"></p>
                        </div>
                    </div>
                    <div class="kbz-col-4">
                        <blog-side-bar></blog-side-bar>
                    </div>
                </div>
            </div>
        </div>

        <div class="related-posts-block">
            <div class="kbz-container" style="padding-top: 3em; padding-bottom: 3em;">
                <p class="title text-align-center">Related Post</p>
                <div class="kbz-row">
                    <div class="kbz-col-4" v-for="(blog, index) in blogs" :key="'blog-detail' + index" v-if="index < 3">
                        <kbz-blog-card :blog="blog"></kbz-blog-card>
                    </div>
                </div>
                <div class="text-align-center">
                    <kbz-button @click.native="goToBlogPage" :className="'btn-pink m-t-2'">
                        <span>Load More </span>
                        <span style="vertical-align: middle;">
                        <svg width="18" height="10" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.1933 4.08407L17.6458 0.499908C17.5606 0.41399 17.4592 0.345796 17.3475 0.299258C17.2358 0.25272 17.116 0.22876 16.995 0.22876C16.874 0.22876 16.7542 0.25272 16.6425 0.299258C16.5308 0.345796 16.4294 0.41399 16.3442 0.499908C16.1734 0.671657 16.0776 0.903988 16.0776 1.14616C16.0776 1.38833 16.1734 1.62066 16.3442 1.79241L19.6075 5.08324H0.916667C0.673552 5.08324 0.440394 5.17982 0.268485 5.35173C0.0965771 5.52364 0 5.75679 0 5.99991H0C0 6.24302 0.0965771 6.47618 0.268485 6.64809C0.440394 6.82 0.673552 6.91657 0.916667 6.91657H19.6625L16.3442 10.2257C16.2583 10.311 16.1901 10.4123 16.1435 10.524C16.097 10.6358 16.073 10.7556 16.073 10.8766C16.073 10.9976 16.097 11.1174 16.1435 11.2291C16.1901 11.3408 16.2583 11.4422 16.3442 11.5274C16.4294 11.6133 16.5308 11.6815 16.6425 11.7281C16.7542 11.7746 16.874 11.7986 16.995 11.7986C17.116 11.7986 17.2358 11.7746 17.3475 11.7281C17.4592 11.6815 17.5606 11.6133 17.6458 11.5274L21.1933 7.97074C21.7083 7.45511 21.9976 6.75616 21.9976 6.02741C21.9976 5.29866 21.7083 4.5997 21.1933 4.08407Z" fill="white"/>
                        </svg>
                    </span>
                    </kbz-button>
                </div>
            </div>
        </div>

        <div class="subscribe-block">
            <div class="kbz-container">
                <div class="kbz-row">
                    <div class="kbz-col-6">
                        <p class="title">Subscribe Newslatter & get KBZ Money Alerts</p>
                    </div>
                    <div class="kbz-col-6 align-self-center text-align-right">
                        <span class="w-70">
                            <input v-model="subscribeEmail" class="kbz-form-input" type="email" placeholder="Email address">
                        </span>
                        <span class="m-l-2 w-30">
                            <button class="kbz-form-btn">Subscribe</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import axios from "axios"

    export default {
        name: "detail",
        data() {
            return {
                subscribeEmail: null,
                blogDetail: {},
                blogs: this.$store.getters['blog/getBlogLists']
            }
        },
        methods: {
            goToHomePage () {
                this.$router.push('/')
            },
            goToBlogPage () {
                this.$router.push('/blogs')
            },
            async getArticleDetail () {
                await axios.get('/api/get/articles/' + this.$route.params.id)
                .then(response => {
                    this.blogDetail = response.data
                }).catch(error=>{
                })
            },
            stringCut (text = '', limit) {
                if (!text) return ''
                let textCount = text.length
                let result = text.slice(0, limit)
                if (textCount > limit) result += ' ...'
                return result
            }
        },
        created() {
            this.$watch(
                () => this.$route.params,
                (toParams, previousParams) => {
                    this.getArticleDetail()
                    window.scroll({
                        top: 0,
                        left: 100,
                        behavior: 'smooth'
                    });
                }
            )
        },
        mounted () {
            this.getArticleDetail()
        }
    }
</script>

<style lang="css">
    .kbz-form-input::placeholder {
        color: #fff;
    }
    .related-posts-block {
        background-image: url('/images/related-posts-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
