<template>
    <section>
        <main>
            <router-view></router-view>
        </main>

    </section>
</template>

<script>
    export default {
        name: "blog-content",
        methods: {
            goToHomePage () {
                this.$router.push('/')
            },
            goToBlogPage () {
                this.$router.push('/blogs')
            }
        },
        mounted () {
            this.$store.dispatch('blog/setCategories')
            this.$store.dispatch('blog/setTags')
        }
    }
</script>

<style lang="css">
    .hero-banner {
        background-image: url('/images/blog-banner-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
