<template>
    <section>
        <div class="hero-banner">
            <div class="text-align-center">
                <p class="hero-title">Blog</p>
                <p class="menu-link">
                    <span class="link text-muted" @click="goToHomePage">Home</span>
                    <span style="vertical-align: sub;">
                        <i class="ri-arrow-right-s-line text-muted"></i>
                    </span>
                    <span class="link" @click="goToBlogPage">Blog</span>
                </p>
            </div>
        </div>

        <div class="kbz-container">
            <div class="latest-news-block">
                <h3 class="title text-align-center">Latest News</h3>
                <div class="kbz-row">
                    <div class="kbz-col-8">
                        <div class="d-flex flex-wrap">
                            <div class="kbz-col-6" v-for="(blog, index) in blogs" :key="'blog-' + index">
                                <kbz-blog-card :blog="blog"></kbz-blog-card>
                            </div>
                        </div>
                        <div class="m-t-2 text-align-center" v-if="!noMore">
                            <kbz-button @click.native="loadMoreBlogs" :className="'btn-default fill-primary'">
                                <span>Load More</span>
                                    <span style="vertical-align: middle;">
                                    <svg width="18" height="10" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21.1933 4.08407L17.6458 0.499908C17.5606 0.41399 17.4592 0.345796 17.3475 0.299258C17.2358 0.25272 17.116 0.22876 16.995 0.22876C16.874 0.22876 16.7542 0.25272 16.6425 0.299258C16.5308 0.345796 16.4294 0.41399 16.3442 0.499908C16.1734 0.671657 16.0776 0.903988 16.0776 1.14616C16.0776 1.38833 16.1734 1.62066 16.3442 1.79241L19.6075 5.08324H0.916667C0.673552 5.08324 0.440394 5.17982 0.268485 5.35173C0.0965771 5.52364 0 5.75679 0 5.99991H0C0 6.24302 0.0965771 6.47618 0.268485 6.64809C0.440394 6.82 0.673552 6.91657 0.916667 6.91657H19.6625L16.3442 10.2257C16.2583 10.311 16.1901 10.4123 16.1435 10.524C16.097 10.6358 16.073 10.7556 16.073 10.8766C16.073 10.9976 16.097 11.1174 16.1435 11.2291C16.1901 11.3408 16.2583 11.4422 16.3442 11.5274C16.4294 11.6133 16.5308 11.6815 16.6425 11.7281C16.7542 11.7746 16.874 11.7986 16.995 11.7986C17.116 11.7986 17.2358 11.7746 17.3475 11.7281C17.4592 11.6815 17.5606 11.6133 17.6458 11.5274L21.1933 7.97074C21.7083 7.45511 21.9976 6.75616 21.9976 6.02741C21.9976 5.29866 21.7083 4.5997 21.1933 4.08407Z" fill="white"/>
                                    </svg>
                                </span>
                            </kbz-button>
                        </div>
                    </div>
                    <div class="kbz-col-4">
                        <blog-side-bar></blog-side-bar>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-us-block">
            <div style="padding: 3em 0;">
                <p class="title text-align-center">
                    Have Questions or Need to <br>
                    Book a Consultation?
                </p>
                <div class="text-align-center">
                    <kbz-button :className="'btn-pink m-t-2'">
                        <span>Contact Us Now</span>
                        <span style="vertical-align: middle;">
                        <svg width="18" height="10" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.1933 4.08407L17.6458 0.499908C17.5606 0.41399 17.4592 0.345796 17.3475 0.299258C17.2358 0.25272 17.116 0.22876 16.995 0.22876C16.874 0.22876 16.7542 0.25272 16.6425 0.299258C16.5308 0.345796 16.4294 0.41399 16.3442 0.499908C16.1734 0.671657 16.0776 0.903988 16.0776 1.14616C16.0776 1.38833 16.1734 1.62066 16.3442 1.79241L19.6075 5.08324H0.916667C0.673552 5.08324 0.440394 5.17982 0.268485 5.35173C0.0965771 5.52364 0 5.75679 0 5.99991H0C0 6.24302 0.0965771 6.47618 0.268485 6.64809C0.440394 6.82 0.673552 6.91657 0.916667 6.91657H19.6625L16.3442 10.2257C16.2583 10.311 16.1901 10.4123 16.1435 10.524C16.097 10.6358 16.073 10.7556 16.073 10.8766C16.073 10.9976 16.097 11.1174 16.1435 11.2291C16.1901 11.3408 16.2583 11.4422 16.3442 11.5274C16.4294 11.6133 16.5308 11.6815 16.6425 11.7281C16.7542 11.7746 16.874 11.7986 16.995 11.7986C17.116 11.7986 17.2358 11.7746 17.3475 11.7281C17.4592 11.6815 17.5606 11.6133 17.6458 11.5274L21.1933 7.97074C21.7083 7.45511 21.9976 6.75616 21.9976 6.02741C21.9976 5.29866 21.7083 4.5997 21.1933 4.08407Z" fill="white"/>
                        </svg>
                    </span>
                    </kbz-button>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import BlogCard from "../BlogCard";
    export default {
        name: "listsBody",
        components: {BlogCard},
        data () {
            return {
                currentPage: 1,
                noMore: false
            }
        },
        computed: {
            blogs: {
                get () {
                    return this.$store.getters['blog/getBlogLists']
                },
                set (value) {
                    this.$store.commit('blog/SET_BLOG_LISTS', value)
                }
            }
        },
        methods: {
            goToHomePage () {
                this.$router.push('/')
            },
            goToBlogPage () {
                this.$router.push('/blogs')
            },
            loadMoreBlogs () {
                this.currentPage += 1
                this.$store.dispatch('blog/setBlogLists', {
                    page: this.currentPage,
                    limit: 6
                })
                this.noMore = this.$store.getters['blog/getNoMore']
            }
        },
        destroyed () {
            this.currentPage = 1
            this.$store.dispatch('blog/setBlogLists', {
                page: this.currentPage,
                limit: 6
            })
        }
    }
</script>

<style lang="css">
    .contact-us-block {
        background-image: url('/images/contact-us-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
