<template>
    <section class="sm-hidden">
        <div style="margin: 0 15px">
            <div class="blog-search-input">
                <span class="input-prefix">
                    <svg width="15" height="15" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.66666 14.3333C11.3486 14.3333 14.3333 11.3486 14.3333 7.66666C14.3333 3.98476 11.3486 1 7.66666 1C3.98476 1 1 3.98476 1 7.66666C1 11.3486 3.98476 14.3333 7.66666 14.3333Z" stroke="#4F5A5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16 16L12.375 12.375" stroke="#4F5A5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
                <input class="input-inner" placeholder="Search here" type="text">
            </div>
            <div class="category-card">
                <p class="title">Categories</p>
                <ul class="categories-list">
                    <li class="d-flex justify-content-between" v-for="(category, index) in categories" :key="'category' + index">
                        <span>{{ category.name }}</span>
                        <span>{{ category.articles_count }}</span>
                    </li>
                </ul>
            </div>

            <div class="sidebar-content-card m-t-2">
                <p class="title">Recent Post</p>
                <div class="mini-post-list cursor-pointer" v-for="(blog, index) in blogs" :key="index" v-if="index < 4" @click="goToDetailBlog(blog.id)">
                    <div>
                        <span class="post-image">
                            <img :src="blog.featured_image" @error="setAltImg" alt="image">
                        </span>
                    </div>
                    <div class="post-info">
                        <div class="post-title">
                            {{ stringCut(blog.title, 50) }}
                        </div>
                        <div class="post-time">{{ blog.created_at | moment("from", "now")  }}</div>
                    </div>
                </div>
            </div>

            <div class="sidebar-content-card m-t-2">
                <p class="title">Tag</p>
                <div class="tag-group d-flex flex-wrap">
                    <span class="single-tag" v-for="(tag, index) in tags" :key="'tag' + index">{{ tag.name }}</span>
                </div>
            </div>

            <div class="sidebar-subscribe-block sidebar-content-card m-t-2 ">
                <p class="title text-align-center">Subscribe to KBZ <br> Money Alerts</p>
                <div class="blog-subscribe">
                    <input type="email" placeholder="Email Address">
                </div>
                <div class="text-align-center">
                    <button class="subscribe-btn">
                        Subscribe Now
                    </button>
                </div>
            </div>

        </div>
    </section>
</template>

<script>
    export default {
        name: "sideBar",
        data () {
            return {
                categories: this.$store.getters['blog/getCategories'],
                tags: this.$store.getters['blog/getTags'],
                blogs: this.$store.getters['blog/getBlogLists']
            }
        },
        methods: {
            stringCut (text = '', limit) {
                if (text) {
                    let textCount = text.length
                    let result = text.slice(0, limit)
                    if (textCount > limit) result += ' ...'
                    return result
                }
                return ''
            },
            setAltImg (event) {
                event.target.src = this.notFound
            },
            goToDetailBlog (id) {
                this.$router.push('/blog/' + id)
            },
        }
    }
</script>

<style lang="css">
    .blog-search-input .input-inner::placeholder {
        color: #4F5A5E;
    }
    .blog-subscribe input::placeholder {
        color: #4F5A5E;
        font-size: 12px;
        text-align: center;
    }
    .sidebar-subscribe-block {
        background-image: url('/images/blog-sidebar-subscribe-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
