@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap')

$primary-text-color: #082A36
$primary-active-color: #015EB9
$title-font-size: 30px
$subtitle-font-size: 13px
$subtitle-line-height: 26px

@media (max-width: 767.98px)
    $title-font-size: 18px!important
    $subtitle-font-size: 8px!important
    $subtitle-line-height: 18px!important
body
    margin: 0
    font-family: 'Jost', sans-serif
svg.img-wrapper
    width: 100%
.heading-1
    font-size: 56px
    color: #082A36
.heading-2
    font-size: 30px
    color: #082A36
.heading-3
    font-size: 21px
    color: #082A36
.heading-4
    font-size: 17px
    color: #082A36
.heading-5
    font-size: 15px
    color: #082A36

.pg-font-big
    font-size: 17px
    color: #4F5A5E
.pg-font-medium
    font-size: 15px
    color: #4F5A5E
.pg-font-small
    font-size: 13px
    color: #4F5A5E
    a
        color: #4F5A5E
        text-decoration: none
        &:hover
            color: $primary-active-color

.bg-thin-blue
    background: #DFF6FF
.bg-pure-white
    background: #FFF

.w-30
    width: 30%
.w-33
    width: 33%
.w-50
    width: 50%!important
.w-60
    width: 60%
.w-70
    width: 70%
.w-100
    width: 100%

.text-primary
    color: $primary-active-color
.text-cyan
    color: #00B9FF
.text-muted
    color: #8FA5AE!important
.m-t-0
    margin-top: 0
.m-b-0
    margin-bottom: 0
.m-t-2
    margin-top: 10px
.m-l-2
    margin-left: 10px
.m-t-4
    margin-top: 4em
.m-b-4
    margin-bottom: 4em
.p-t-4
    padding-top: 4em
.p-b-4
    padding-bottom: 4em

.text-align-left
    text-align: left
.text-align-right
    text-align: right
.text-align-center
    text-align: center

.cursor-pointer
    cursor: pointer

.d-flex
    display: flex
.flex-wrap
    flex-wrap: wrap
.flex-column
    flex-direction: column
.justify-content-between
    justify-content: space-between

.img-wrapper
    width: 100%
.company-logo
    width: 225px
    height: 53px
.align-self-end
    align-self: self-end
.align-self-center
    align-self: center
.align-items-center
    align-items: center
.nav-lists
    display: flex
    list-style-type: none
    margin: 0
    padding: 0
    .nav-item
        color: $primary-text-color
        font-size: 15px
        font-weight: 500
        padding: 20px 0
        margin: 0 25px
        cursor: pointer
        &:hover
            color: $primary-active-color
    .nav-item.is-active
        color: $primary-active-color
        border-bottom: 1.5px solid $primary-active-color

.top-title
    padding: 10px 0
    background: #DFF6FF
    font-size: 10px
.sm-block
    display: none
.kbz-btn
    padding: 12px 28px
    border-radius: 100px
    font-size: 12px
    border: none
    color: #fff
    cursor: pointer
    transition: box-shadow .3s
    &:hover
        box-shadow: 0 0 11px rgba(33,33,33,.2)
.btn-pink
    background: #FF545F
    &:hover
        background: #fe414d
.btn-default
    background: #FFF
    color: $primary-active-color
    svg path
        fill: $primary-active-color
.btn-default.fill-primary
    color: #FFF
    background-color: #063A78
    svg path
        fill: #ffffff

.search-input
    border-color: #002C76
    outline-color: $primary-active-color
    padding: 6px
    border-radius: 8px

.search-input.input-big
    width: 70%
    height: 26px
.banner-block
    background: linear-gradient(90deg, rgba(225, 243, 250, 0.15) 0%, #E1F3FA 98.83%)
    padding-top: 3em
    padding-bottom: 10em
    .hero-text
        font-weight: 600
        font-size: 30px
        line-height: 50px
        color: #082A36
    .hero-sub-title
        color: #4F5A5E
        font-size: 14px
        line-height: 24px
.tech-card-group
    margin-top: -100px
    .kbz-card
        cursor: pointer
        border-radius: 4px
        padding: 20px
        margin: 5px 10px
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05)
        background-color: #FFF
        z-index: 99
        height: 180px
        &:hover
            box-shadow: 0 20px 40px 0 rgba(8, 150, 204, 0.2)
            color: #FFF
            background: $primary-active-color
            .card-icon
                svg path
                    fill: #FFF
            .card-title
                color: #FFF
            .card-subtitle
                color: #FFF
            .card-text-link
                color: #FFF
                svg path
                    fill: #FFF
        .card-icon
            svg path
                fill: #00B9FF
        .card-title
            color: #082A36
            font-size: 15px
        .card-subtitle
            color: #4F5A5E
            font-size: 13px
        .card-text-link
            color: $primary-active-color
            font-size: 11px
            svg path
                fill: $primary-active-color

.current-challenge-block
    margin: 3em 0
    .info-paragraph
        padding: 0 2em
        .title
            font-size: $title-font-size
            font-weight: 600
            color: #082A36
        .subtitle
            font-size: $subtitle-font-size
            line-height: $subtitle-line-height
            color: #4F5A5E
.our-solution-block
    .info-paragraph
        padding: 5em 3em
        .title
            font-size: $title-font-size
            font-weight: 600
            color: #FFF
        .subtitle
            font-size: $subtitle-font-size
            line-height: $subtitle-line-height
            color: #FFF
.stand-out-industry-block
    margin: 0
    background-color: #FFF
    .info-paragraph
        padding: 5em 3em
        .title
            font-size: $title-font-size
            font-weight: 600
            color: #082A36
            line-height: 44px
        .subtitle
            font-size: $subtitle-font-size
            line-height: $subtitle-line-height
            color: #4F5A5E

.our-service-block
    .title
        font-size: $title-font-size
        font-weight: 600
        text-align: center
    .subtitle
        font-size: $subtitle-font-size
        line-height: $subtitle-line-height
        text-align: center
        color: #4F5A5E
    .service-card
        background-color: #FFF
        box-shadow: 0 15px 35px 0 rgba(34, 79, 94, 0.06)
        border-radius: 10px
        padding: 20px 20px
        margin: 15px 15px 0 15px
        border: 1px solid #FFF
        &:hover, &:focus
            border-color: #5C80FF
        p
            font-size: 16px
            color: #082A36
            margin-bottom: 0

.our-client-block
    .title
        font-size: $title-font-size
        font-weight: 600
        text-align: center
    .subtitle
        font-size: $subtitle-font-size
        line-height: $subtitle-line-height
        text-align: center
        color: #4F5A5E
    .country-card
        margin: 20px 10px
        box-shadow: 0 15px 35px 0 rgba(34, 79, 94, 0.06)
        border-radius: 10px
        &:nth-child(1)
            .card-header
                background-color: #FFF4E3
        &:nth-child(2)
            .card-header
                background-color: #F2FBFF
        &:nth-child(3)
            .card-header
                background-color: #FCEBFF
        &:nth-child(4)
            .card-header
                background-color: #E1F7EF
        .card-header
            padding: 15px 20px
            border-top-left-radius: 10px
            border-top-right-radius: 10px
            margin-right: 0
            height: 145px
            .card-image
                margin: auto
                text-align: center
                object-fit: cover
                svg
                    width: 100%
        .card-body
            padding: 20px
            background-color: #FFF
            border-bottom-left-radius: 10px
            border-bottom-right-radius: 10px
            .line-break, hr
                color: rgba(211, 211, 211, 0.8)
                margin: 15px 0 20px 0
            .title
                color: #082A36
                font-size: 18px
                text-align: left
                margin: 0
            .country-list
                list-style-type: none
                margin: 0
                padding: 0
                .country-item, li
                    font-size: $subtitle-font-size
                    color: #4F5A5E
                    margin-bottom: 12px
.compass-tech-block
    .info-paragraph
        padding: 5em 6em 5em 0
        .title
            font-size: $title-font-size
            font-weight: 600
            color: #FFF
            line-height: 44px
        .subtitle
            font-size: $subtitle-font-size
            line-height: $subtitle-line-height
            color: #FFF
.blog-lists-carousel
    margin: 4em 0
    .title
        font-size: $title-font-size
        font-weight: 600
        text-align: center
    .slick-prev, .slick-next
        color: #828282
        background-color: #F2F2F2
        border-radius: 15px
        width: unset
        height: unset
        padding: 10px
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)
        cursor: pointer
        z-index: 99
        &:before
            color: black
        &:focus, &:hover
            background-color: #54C9F1
            &:before
                color: #FFF
.subscribe-block
    background-color: #06458D
    .title
        color: #fff
        font-size: $title-font-size
        font-weight: bold
.kbz-form-input
    border: 1.5px solid #ffffff
    border-radius: 10px
    height: 30px
    background-color: transparent
    outline: 0
    padding: 0 15px
    color: #fff
.kbz-form-btn
    padding: 8px 30px
    color: $primary-active-color
    background-color: #fff
    border: 1px solid #ffffff
    border-radius: 10px
    cursor: pointer
.footer-block
    padding-top: 4em
    .footer-logo
        img
            width: 250px
    .footer-nav-list
        list-style-type: none
        padding-left: 0
        li
            display: flex
            font-size: 14px
            color: #fff
            margin-bottom: 18px
            span
                &:first-child
                    margin-right: 10px
    .nav-link-title
        font-size: 18px
        color: #fff
        margin-bottom: 20px
    .nav-link
        font-size: 14px
        color: #fff
        margin-bottom: 8px
        cursor: pointer
        display: inline-block
        border-bottom: 1px solid transparent
        &:hover
            border-color: #fff

.blog-card
    margin: 0 15px 30px 15px
    width: unset!important
    box-shadow: 0 2px 15px 0 rgba(34 79 94 / 0.06)
    border-radius: 10px
    border: 1px solid #fff
    overflow: hidden
    cursor: pointer
    min-height: 445px
    &:hover
        box-shadow: 0 2px 12px 0 rgba(0 0 0 / 0.1)
    .card-header
        border-top-left-radius: 10px
        border-top-right-radius: 10px
        margin-right: 0
        height: 200px
        .card-image
            width: 100%
            height: 100%
            object-fit: cover
    .card-body
        padding: 18px
        background-color: #FFF
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
        .title
            color: #082A36
            font-size: 17px
            text-align: left
            margin: 0
            height: 45px
        .subtitle
            color: #4F5A5E
            font-size: 12px
            text-align: left
            margin: 0
            line-height: 20px
            height: 60px
        .blog-info
            display: flex
            align-items: center
            justify-content: space-between
            .user
                display: flex
                align-items: center
                color: #4F5A5E
                font-size: 12px
                .avatar
                    overflow: hidden
                    margin-right: 5px
                    border-radius: 50%
                    width: 35px
                    height: 35px
                    img
                        width: 100%
                        height: 100%
            .date-info
                color: #4F5A5E
                font-size: 12px
        .read-more
            font-size: 12px
            color: #4F5A5E
            svg
                width: 24px
                path
                    fill: #4F5A5E

.social-icon i
    padding: 8px
    font-size: 14px
    border: 1px solid #ffffff
    border-radius: 50%
    color: #fff
    cursor: pointer
    background-color: transparent
    margin: 0 3px
    &:hover, &:focus
        background-color: #FFB547
        border-color: #FFB547

.hero-banner
    .hero-title
        color: #fff
        font-size: $title-font-size
        padding-top: 1em
        margin-bottom: 15px
        margin-top: 0
        padding: 1em 2em
    .menu-link
        padding-bottom: 3em
        margin-bottom: 0
        span.link
            font-size: $subtitle-font-size
            color: #fff
            padding: 10px
            cursor: pointer
.latest-news-block
    margin: 4em 0
    .title
        color: #082A36
        font-size: $title-font-size
.blog-search-input
    position: relative
    height: 50px
    .input-inner
        padding: 10px 10px 10px 30px
        width: -webkit-fill-available
        background: #F9FBFC
        border: 1px solid #E6EDF3
        border-radius: 8px
    .input-prefix
        position: absolute
        top: 9px
        bottom: 0
        left: 12px
.blog-search-input.search-input
    height: unset
    .input-prefix
        position: absolute
        top: 15px!important
        bottom: 0
        left: 15px!important
.category-card, .sidebar-content-card
    border: 1px solid #E6EDF3
    border-radius: 8px
    overflow: hidden
    .title
        color: #082A36
        font-weight: 600
        font-size: 16px
        margin: 0
        padding: 10px 20px
        background-color: #F9FBFC
    .categories-list
        padding: 10px 20px
        margin: 0
        li
            color: #4F5A5E
            font-size: 14px
            margin-bottom: 10px
    .mini-post-list
        display: flex
        padding: 10px 20px
        margin: 0
        .post-image
            border-radius: 4px
            width: 25%
            img
                width: 50px
                height: 50px
                border-radius: 4px
                object-fit: cover
        .post-info
            width: 75%
            margin-left: 8px
            .post-title
                color: #082A36
                font-size: 13px
                line-height: 16px
            .post-time
                color: #4F5A5E
                font-size: 11px
    .tag-group
        padding: 10px 20px
        .single-tag
            cursor: pointer
            padding: 3px 10px
            border: 1px solid #E6EDF3
            border-radius: 5px
            background-color: #F1F6F8
            font-size: 12px
            color: #082A36
            margin-right: 6px
            margin-bottom: 6px
.sidebar-subscribe-block
    padding: 20px
    .title
        color: #fff
        font-size: 24px
        background-color: transparent
    .blog-subscribe
        padding: 0 10px
        input
            width: 100%
            height: 32px
            border-radius: 8px
            background-color: #fff
            border: none
    .subscribe-btn
        cursor: pointer
        margin-top: 10px
        padding: 10px
        color: #ffffff
        background-color: #20C2FF
        border: 0
        border-radius: 8px
.contact-us-block
    .title
        color: #082A36
        font-size: $title-font-size
.related-posts-block
    .title
        color: #082A36
        font-size: $title-font-size
.blog-post-detail
    .title
        color: #082A36
        font-size: $title-font-size
        margin-top: 0
    .blog-info
        display: flex
        align-items: center
        justify-content: space-between
        .user
            display: flex
            align-items: center
            color: #4F5A5E
            font-size: 12px
            .avatar
                overflow: hidden
                margin-right: 5px
                border-radius: 50%
                width: 35px
                height: 35px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
        .info
            color: #4F5A5E
            font-size: 12px
            margin: 0 7px
    .blog-image
        img
            width: 100%
            height: 350px
            border-radius: 8px
            object-fit: cover
