// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .kbz-container {
        margin: 0 7em!important;
    }
    .sm-hidden {
        display: inline-block!important;
    }
    .sm-block {
        display: none!important;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .kbz-container {
        margin: 0 3em!important;
    }
    .sm-hidden {
        display: inline-block!important;
    }
    .sm-block {
        display: none!important;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    $title-font-size: 18px!important;
    $subtitle-font-size: 8px!important;
    $subtitle-line-height: 18px!important;
    .kbz-container {
        margin: 0 1em!important;
        .kbz-col-6, .kbz-col-8, .kbz-col-12 {
            width: 100%!important;
            text-align: center!important;
        }
        .kbz-col-2, .kbz-col-3, .kbz-col-4 {
            width: 50%!important;
            text-align: center!important;
        }
        .kbz-col-8, .kbz-col-12 {
            margin: 0 auto
        }
        .latest-news-block .kbz-col-6 {
            width: 70%!important;
            margin: 0 auto;
        }
        .kbz-sm-12 {
            width: 100%!important;
        }
        .kbz-sm-6 {
            width: 50%!important;
        }
        .nav-lists {
            .nav-item {
                margin: 0 15px;
            }
        }
        .sm-hidden {
            display: none!important;
        }
        .sm-block {
            display: inline-block!important;
        }
    }
    .img-wrapper {
        display: none;
    }
    .country-card {
        .title {
            text-align: center!important;
        }
    }
    .subscribe-block {
        padding-bottom: 2em!important;
    }

    .blog-lists-carousel {
        .kbz-container {
            margin: 0 2em!important
        }
    }
    .blog-card {
        //margin: 0 5em 30px 5em
    }
    .sm-hidden {
        display: inline-block!important;
    }
    .sm-block {
        display: none!important;
    }
    .blog-lists-carousel .carousel {
        width: 80%!important;
    }
    .footer-block .w-33 {
        text-align: left!important;
    }
    .footer-block .footer-logo {
        text-align: left!important;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .kbz-container {
        margin: 0 1em!important;
        .kbz-col-2, .kbz-col-3, .kbz-col-4, .kbz-col-6, .kbz-col-8, .kbz-col-12 {
            width: 100%!important;
            text-align: center!important;
        }
        .kbz-col-3, .kbz-col-4 {
            width: 80%!important;
            margin: 0 auto
        }
        .kbz-sm-6 {
            width: 50%!important;
        }
        .kbz-sm-12 {
            width: 100%!important;
        }
        .nav-lists {
            .nav-item {
                margin: 0 15px;
            }
        }
        .sm-hidden {
            display: none!important;
        }
        .sm-block {
            display: inline-block!important;
        }
        .latest-news-block .kbz-col-6 {
            width: 90%!important;
            margin: 0 auto;
        }
        .blog-post-detail {
            width: 80%;
            margin: auto;
        }
    }
    .footer-block .w-33 {
        text-align: left!important;
    }
    .footer-block .footer-logo {
        text-align: left!important;
    }
    .title, .banner-block .hero-text {
        line-height: 30px;
    }
    .blog-lists-carousel .carousel {
        width: 90%!important;
        margin: 0 auto
    }
    .blog-card .title, .blog-card .subtitle {
        height: unset;
    }
    .blog-card .blog-info {
        height: unset;
        flex-wrap: wrap;
    }
}

.kbz-container {
    margin: 0 16em;
    .kbz-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .kbz-col-2 {
            width: 16.66%;
        }
        .kbz-col-3 {
            width: 25%;
        }
        .kbz-col-4 {
            width: 33.33%;
        }
        .kbz-col-6 {
            width: 50%;
        }
        .kbz-col-8 {
            width: 66.66%;
        }
        .kbz-col-12 {
            width: 100%;
        }
    }
}
