<template>
    <button class="kbz-btn" :class="className">
        <slot></slot>
    </button>
</template>

<script>
    export default {
        name: "kbz-button",
        props: {
            className: {
                type: String,
                default: 'btn-default'
            }
        }
    }
</script>

<style scoped>

</style>
