<template>
    <section class="blog-card" @click="goToDetailBlog">
        <div class="card-header">
            <img class="card-image" :src="blog.featured_image" @error="setAltImg" alt="image">
        </div>
        <div class="card-body">
            <p class="title">
                {{stringCut(blog.title, 60)}}
            </p>
            <p class="blog-info">
                <span class="user">
                    <span class="avatar">
                        <img src="https://semantic-ui.com/images/avatar2/large/elyse.png" alt="">
                    </span>
                    <span>{{blog.user.name}}</span>
                </span>
                <span class="date-info">
                    <span style="vertical-align: middle;">
                        <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.7" d="M6.5 0.828125C3.02148 0.828125 0.203125 3.64648 0.203125 7.125C0.203125 10.6035 3.02148 13.4219 6.5 13.4219C9.97852 13.4219 12.7969 10.6035 12.7969 7.125C12.7969 3.64648 9.97852 0.828125 6.5 0.828125ZM8.83594 8.77539L8.32812 9.41016C8.25195 9.51172 8.15039 9.58789 7.99805 9.58789C7.92188 9.58789 7.82031 9.53711 7.76953 9.48633L6.06836 8.2168C5.81445 8.03906 5.6875 7.75977 5.6875 7.42969V3.46875C5.6875 3.26562 5.86523 3.0625 6.09375 3.0625H6.90625C7.10938 3.0625 7.3125 3.26562 7.3125 3.46875V7.125L8.78516 8.2168C8.86133 8.29297 8.9375 8.39453 8.9375 8.52148C8.9375 8.62305 8.88672 8.72461 8.83594 8.77539Z" fill="#4B5563"/>
                        </svg>
                    </span>
                    <span>
                        {{ blog.created_at | moment("DD/MM/YYYY")  }}
                    </span>
                </span>
            </p>
            <p class="subtitle">
                {{ getStripHtml(blog.content) }}
            </p>
            <p class="read-more">
                <span>Read More </span>
                <span style="vertical-align: middle;">
                    <svg width="18" height="10" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.1933 4.08407L17.6458 0.499908C17.5606 0.41399 17.4592 0.345796 17.3475 0.299258C17.2358 0.25272 17.116 0.22876 16.995 0.22876C16.874 0.22876 16.7542 0.25272 16.6425 0.299258C16.5308 0.345796 16.4294 0.41399 16.3442 0.499908C16.1734 0.671657 16.0776 0.903988 16.0776 1.14616C16.0776 1.38833 16.1734 1.62066 16.3442 1.79241L19.6075 5.08324H0.916667C0.673552 5.08324 0.440394 5.17982 0.268485 5.35173C0.0965771 5.52364 0 5.75679 0 5.99991H0C0 6.24302 0.0965771 6.47618 0.268485 6.64809C0.440394 6.82 0.673552 6.91657 0.916667 6.91657H19.6625L16.3442 10.2257C16.2583 10.311 16.1901 10.4123 16.1435 10.524C16.097 10.6358 16.073 10.7556 16.073 10.8766C16.073 10.9976 16.097 11.1174 16.1435 11.2291C16.1901 11.3408 16.2583 11.4422 16.3442 11.5274C16.4294 11.6133 16.5308 11.6815 16.6425 11.7281C16.7542 11.7746 16.874 11.7986 16.995 11.7986C17.116 11.7986 17.2358 11.7746 17.3475 11.7281C17.4592 11.6815 17.5606 11.6133 17.6458 11.5274L21.1933 7.97074C21.7083 7.45511 21.9976 6.75616 21.9976 6.02741C21.9976 5.29866 21.7083 4.5997 21.1933 4.08407Z" fill="white"/>
                    </svg>
                </span>
            </p>
        </div>
    </section>
</template>

<script>
    export default {
        name: "BlogCard",
        props: {
            blog: {
                type: Object
            }
        },
        data () {
            return {
                notFound: '/images/not-found.jpg',
            }
        },
        methods: {
            goToDetailBlog () {
                this.$router.push('/blog/' + this.blog.id)
            },
            getStripHtml (text) {
                const regex = /(<([^>]+)>)/ig
                let result = text.replace(regex, '');
                return this.stringCut(result, 130)
            },
            stringCut (text = '', limit) {
                if (text) {
                    let textCount = text.length
                    let result = text.slice(0, limit)
                    if (textCount > limit) result += ' ...'
                    return result
                }
                return ''
            },
            setAltImg (event) {
                event.target.src = this.notFound
            }
        }
    }
</script>

<style scoped>

</style>
