@import url(https://fonts.googleapis.com/css2?family=Jost&display=swap);
body {
  margin: 0;
  font-family: "Jost", sans-serif;
}

svg.img-wrapper {
  width: 100%;
}

.heading-1 {
  font-size: 56px;
  color: #082A36;
}

.heading-2 {
  font-size: 30px;
  color: #082A36;
}

.heading-3 {
  font-size: 21px;
  color: #082A36;
}

.heading-4 {
  font-size: 17px;
  color: #082A36;
}

.heading-5 {
  font-size: 15px;
  color: #082A36;
}

.pg-font-big {
  font-size: 17px;
  color: #4F5A5E;
}

.pg-font-medium {
  font-size: 15px;
  color: #4F5A5E;
}

.pg-font-small {
  font-size: 13px;
  color: #4F5A5E;
}
.pg-font-small a {
  color: #4F5A5E;
  text-decoration: none;
}
.pg-font-small a:hover {
  color: #015EB9;
}

.bg-thin-blue {
  background: #DFF6FF;
}

.bg-pure-white {
  background: #FFF;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33%;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.text-primary {
  color: #015EB9;
}

.text-cyan {
  color: #00B9FF;
}

.text-muted {
  color: #8FA5AE !important;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-t-2 {
  margin-top: 10px;
}

.m-l-2 {
  margin-left: 10px;
}

.m-t-4 {
  margin-top: 4em;
}

.m-b-4 {
  margin-bottom: 4em;
}

.p-t-4 {
  padding-top: 4em;
}

.p-b-4 {
  padding-bottom: 4em;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.img-wrapper {
  width: 100%;
}

.company-logo {
  width: 225px;
  height: 53px;
}

.align-self-end {
  align-self: self-end;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.nav-lists {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-lists .nav-item {
  color: #082A36;
  font-size: 15px;
  font-weight: 500;
  padding: 20px 0;
  margin: 0 25px;
  cursor: pointer;
}
.nav-lists .nav-item:hover {
  color: #015EB9;
}
.nav-lists .nav-item.is-active {
  color: #015EB9;
  border-bottom: 1.5px solid #015EB9;
}

.top-title {
  padding: 10px 0;
  background: #DFF6FF;
  font-size: 10px;
}

.sm-block {
  display: none;
}

.kbz-btn {
  padding: 12px 28px;
  border-radius: 100px;
  font-size: 12px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.kbz-btn:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.btn-pink {
  background: #FF545F;
}
.btn-pink:hover {
  background: #fe414d;
}

.btn-default {
  background: #FFF;
  color: #015EB9;
}
.btn-default svg path {
  fill: #015EB9;
}

.btn-default.fill-primary {
  color: #FFF;
  background-color: #063A78;
}
.btn-default.fill-primary svg path {
  fill: #ffffff;
}

.search-input {
  border-color: #002C76;
  outline-color: #015EB9;
  padding: 6px;
  border-radius: 8px;
}

.search-input.input-big {
  width: 70%;
  height: 26px;
}

.banner-block {
  background: linear-gradient(90deg, rgba(225, 243, 250, 0.15) 0%, #E1F3FA 98.83%);
  padding-top: 3em;
  padding-bottom: 10em;
}
.banner-block .hero-text {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  color: #082A36;
}
.banner-block .hero-sub-title {
  color: #4F5A5E;
  font-size: 14px;
  line-height: 24px;
}

.tech-card-group {
  margin-top: -100px;
}
.tech-card-group .kbz-card {
  cursor: pointer;
  border-radius: 4px;
  padding: 20px;
  margin: 5px 10px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
  background-color: #FFF;
  z-index: 99;
  height: 180px;
}
.tech-card-group .kbz-card:hover {
  box-shadow: 0 20px 40px 0 rgba(8, 150, 204, 0.2);
  color: #FFF;
  background: #015EB9;
}
.tech-card-group .kbz-card:hover .card-icon svg path {
  fill: #FFF;
}
.tech-card-group .kbz-card:hover .card-title {
  color: #FFF;
}
.tech-card-group .kbz-card:hover .card-subtitle {
  color: #FFF;
}
.tech-card-group .kbz-card:hover .card-text-link {
  color: #FFF;
}
.tech-card-group .kbz-card:hover .card-text-link svg path {
  fill: #FFF;
}
.tech-card-group .kbz-card .card-icon svg path {
  fill: #00B9FF;
}
.tech-card-group .kbz-card .card-title {
  color: #082A36;
  font-size: 15px;
}
.tech-card-group .kbz-card .card-subtitle {
  color: #4F5A5E;
  font-size: 13px;
}
.tech-card-group .kbz-card .card-text-link {
  color: #015EB9;
  font-size: 11px;
}
.tech-card-group .kbz-card .card-text-link svg path {
  fill: #015EB9;
}

.current-challenge-block {
  margin: 3em 0;
}
.current-challenge-block .info-paragraph {
  padding: 0 2em;
}
.current-challenge-block .info-paragraph .title {
  font-size: 30px;
  font-weight: 600;
  color: #082A36;
}
.current-challenge-block .info-paragraph .subtitle {
  font-size: 13px;
  line-height: 26px;
  color: #4F5A5E;
}

.our-solution-block .info-paragraph {
  padding: 5em 3em;
}
.our-solution-block .info-paragraph .title {
  font-size: 30px;
  font-weight: 600;
  color: #FFF;
}
.our-solution-block .info-paragraph .subtitle {
  font-size: 13px;
  line-height: 26px;
  color: #FFF;
}

.stand-out-industry-block {
  margin: 0;
  background-color: #FFF;
}
.stand-out-industry-block .info-paragraph {
  padding: 5em 3em;
}
.stand-out-industry-block .info-paragraph .title {
  font-size: 30px;
  font-weight: 600;
  color: #082A36;
  line-height: 44px;
}
.stand-out-industry-block .info-paragraph .subtitle {
  font-size: 13px;
  line-height: 26px;
  color: #4F5A5E;
}

.our-service-block .title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.our-service-block .subtitle {
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  color: #4F5A5E;
}
.our-service-block .service-card {
  background-color: #FFF;
  box-shadow: 0 15px 35px 0 rgba(34, 79, 94, 0.06);
  border-radius: 10px;
  padding: 20px 20px;
  margin: 15px 15px 0 15px;
  border: 1px solid #FFF;
}
.our-service-block .service-card:hover, .our-service-block .service-card:focus {
  border-color: #5C80FF;
}
.our-service-block .service-card p {
  font-size: 16px;
  color: #082A36;
  margin-bottom: 0;
}

.our-client-block .title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.our-client-block .subtitle {
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  color: #4F5A5E;
}
.our-client-block .country-card {
  margin: 20px 10px;
  box-shadow: 0 15px 35px 0 rgba(34, 79, 94, 0.06);
  border-radius: 10px;
}
.our-client-block .country-card:nth-child(1) .card-header {
  background-color: #FFF4E3;
}
.our-client-block .country-card:nth-child(2) .card-header {
  background-color: #F2FBFF;
}
.our-client-block .country-card:nth-child(3) .card-header {
  background-color: #FCEBFF;
}
.our-client-block .country-card:nth-child(4) .card-header {
  background-color: #E1F7EF;
}
.our-client-block .country-card .card-header {
  padding: 15px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 0;
  height: 145px;
}
.our-client-block .country-card .card-header .card-image {
  margin: auto;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-client-block .country-card .card-header .card-image svg {
  width: 100%;
}
.our-client-block .country-card .card-body {
  padding: 20px;
  background-color: #FFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.our-client-block .country-card .card-body .line-break, .our-client-block .country-card .card-body hr {
  color: rgba(211, 211, 211, 0.8);
  margin: 15px 0 20px 0;
}
.our-client-block .country-card .card-body .title {
  color: #082A36;
  font-size: 18px;
  text-align: left;
  margin: 0;
}
.our-client-block .country-card .card-body .country-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.our-client-block .country-card .card-body .country-list .country-item, .our-client-block .country-card .card-body .country-list li {
  font-size: 13px;
  color: #4F5A5E;
  margin-bottom: 12px;
}

.compass-tech-block .info-paragraph {
  padding: 5em 6em 5em 0;
}
.compass-tech-block .info-paragraph .title {
  font-size: 30px;
  font-weight: 600;
  color: #FFF;
  line-height: 44px;
}
.compass-tech-block .info-paragraph .subtitle {
  font-size: 13px;
  line-height: 26px;
  color: #FFF;
}

.blog-lists-carousel {
  margin: 4em 0;
}
.blog-lists-carousel .title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.blog-lists-carousel .slick-prev, .blog-lists-carousel .slick-next {
  color: #828282;
  background-color: #F2F2F2;
  border-radius: 15px;
  width: unset;
  height: unset;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 99;
}
.blog-lists-carousel .slick-prev:before, .blog-lists-carousel .slick-next:before {
  color: black;
}
.blog-lists-carousel .slick-prev:focus, .blog-lists-carousel .slick-prev:hover, .blog-lists-carousel .slick-next:focus, .blog-lists-carousel .slick-next:hover {
  background-color: #54C9F1;
}
.blog-lists-carousel .slick-prev:focus:before, .blog-lists-carousel .slick-prev:hover:before, .blog-lists-carousel .slick-next:focus:before, .blog-lists-carousel .slick-next:hover:before {
  color: #FFF;
}

.subscribe-block {
  background-color: #06458D;
}
.subscribe-block .title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.kbz-form-input {
  border: 1.5px solid #ffffff;
  border-radius: 10px;
  height: 30px;
  background-color: transparent;
  outline: 0;
  padding: 0 15px;
  color: #fff;
}

.kbz-form-btn {
  padding: 8px 30px;
  color: #015EB9;
  background-color: #fff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.footer-block {
  padding-top: 4em;
}
.footer-block .footer-logo img {
  width: 250px;
}
.footer-block .footer-nav-list {
  list-style-type: none;
  padding-left: 0;
}
.footer-block .footer-nav-list li {
  display: flex;
  font-size: 14px;
  color: #fff;
  margin-bottom: 18px;
}
.footer-block .footer-nav-list li span:first-child {
  margin-right: 10px;
}
.footer-block .nav-link-title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}
.footer-block .nav-link {
  font-size: 14px;
  color: #fff;
  margin-bottom: 8px;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid transparent;
}
.footer-block .nav-link:hover {
  border-color: #fff;
}

.blog-card {
  margin: 0 15px 30px 15px;
  width: unset !important;
  box-shadow: 0 2px 15px 0 rgba(34, 79, 94, 0.06);
  border-radius: 10px;
  border: 1px solid #fff;
  overflow: hidden;
  cursor: pointer;
  min-height: 445px;
}
.blog-card:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.blog-card .card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 0;
  height: 200px;
}
.blog-card .card-header .card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-card .card-body {
  padding: 18px;
  background-color: #FFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.blog-card .card-body .title {
  color: #082A36;
  font-size: 17px;
  text-align: left;
  margin: 0;
  height: 45px;
}
.blog-card .card-body .subtitle {
  color: #4F5A5E;
  font-size: 12px;
  text-align: left;
  margin: 0;
  line-height: 20px;
  height: 60px;
}
.blog-card .card-body .blog-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-card .card-body .blog-info .user {
  display: flex;
  align-items: center;
  color: #4F5A5E;
  font-size: 12px;
}
.blog-card .card-body .blog-info .user .avatar {
  overflow: hidden;
  margin-right: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.blog-card .card-body .blog-info .user .avatar img {
  width: 100%;
  height: 100%;
}
.blog-card .card-body .blog-info .date-info {
  color: #4F5A5E;
  font-size: 12px;
}
.blog-card .card-body .read-more {
  font-size: 12px;
  color: #4F5A5E;
}
.blog-card .card-body .read-more svg {
  width: 24px;
}
.blog-card .card-body .read-more svg path {
  fill: #4F5A5E;
}

.social-icon i {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  margin: 0 3px;
}
.social-icon i:hover, .social-icon i:focus {
  background-color: #FFB547;
  border-color: #FFB547;
}

.hero-banner .hero-title {
  color: #fff;
  font-size: 30px;
  padding-top: 1em;
  margin-bottom: 15px;
  margin-top: 0;
  padding: 1em 2em;
}
.hero-banner .menu-link {
  padding-bottom: 3em;
  margin-bottom: 0;
}
.hero-banner .menu-link span.link {
  font-size: 13px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.latest-news-block {
  margin: 4em 0;
}
.latest-news-block .title {
  color: #082A36;
  font-size: 30px;
}

.blog-search-input {
  position: relative;
  height: 50px;
}
.blog-search-input .input-inner {
  padding: 10px 10px 10px 30px;
  width: -webkit-fill-available;
  background: #F9FBFC;
  border: 1px solid #E6EDF3;
  border-radius: 8px;
}
.blog-search-input .input-prefix {
  position: absolute;
  top: 9px;
  bottom: 0;
  left: 12px;
}

.blog-search-input.search-input {
  height: unset;
}
.blog-search-input.search-input .input-prefix {
  position: absolute;
  top: 15px !important;
  bottom: 0;
  left: 15px !important;
}

.category-card, .sidebar-content-card {
  border: 1px solid #E6EDF3;
  border-radius: 8px;
  overflow: hidden;
}
.category-card .title, .sidebar-content-card .title {
  color: #082A36;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  padding: 10px 20px;
  background-color: #F9FBFC;
}
.category-card .categories-list, .sidebar-content-card .categories-list {
  padding: 10px 20px;
  margin: 0;
}
.category-card .categories-list li, .sidebar-content-card .categories-list li {
  color: #4F5A5E;
  font-size: 14px;
  margin-bottom: 10px;
}
.category-card .mini-post-list, .sidebar-content-card .mini-post-list {
  display: flex;
  padding: 10px 20px;
  margin: 0;
}
.category-card .mini-post-list .post-image, .sidebar-content-card .mini-post-list .post-image {
  border-radius: 4px;
  width: 25%;
}
.category-card .mini-post-list .post-image img, .sidebar-content-card .mini-post-list .post-image img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
.category-card .mini-post-list .post-info, .sidebar-content-card .mini-post-list .post-info {
  width: 75%;
  margin-left: 8px;
}
.category-card .mini-post-list .post-info .post-title, .sidebar-content-card .mini-post-list .post-info .post-title {
  color: #082A36;
  font-size: 13px;
  line-height: 16px;
}
.category-card .mini-post-list .post-info .post-time, .sidebar-content-card .mini-post-list .post-info .post-time {
  color: #4F5A5E;
  font-size: 11px;
}
.category-card .tag-group, .sidebar-content-card .tag-group {
  padding: 10px 20px;
}
.category-card .tag-group .single-tag, .sidebar-content-card .tag-group .single-tag {
  cursor: pointer;
  padding: 3px 10px;
  border: 1px solid #E6EDF3;
  border-radius: 5px;
  background-color: #F1F6F8;
  font-size: 12px;
  color: #082A36;
  margin-right: 6px;
  margin-bottom: 6px;
}

.sidebar-subscribe-block {
  padding: 20px;
}
.sidebar-subscribe-block .title {
  color: #fff;
  font-size: 24px;
  background-color: transparent;
}
.sidebar-subscribe-block .blog-subscribe {
  padding: 0 10px;
}
.sidebar-subscribe-block .blog-subscribe input {
  width: 100%;
  height: 32px;
  border-radius: 8px;
  background-color: #fff;
  border: none;
}
.sidebar-subscribe-block .subscribe-btn {
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  color: #ffffff;
  background-color: #20C2FF;
  border: 0;
  border-radius: 8px;
}

.contact-us-block .title {
  color: #082A36;
  font-size: 30px;
}

.related-posts-block .title {
  color: #082A36;
  font-size: 30px;
}

.blog-post-detail .title {
  color: #082A36;
  font-size: 30px;
  margin-top: 0;
}
.blog-post-detail .blog-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-post-detail .blog-info .user {
  display: flex;
  align-items: center;
  color: #4F5A5E;
  font-size: 12px;
}
.blog-post-detail .blog-info .user .avatar {
  overflow: hidden;
  margin-right: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.blog-post-detail .blog-info .user .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-post-detail .blog-info .info {
  color: #4F5A5E;
  font-size: 12px;
  margin: 0 7px;
}
.blog-post-detail .blog-image img {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
