@media (max-width: 1199.98px) {
  .kbz-container {
    margin: 0 7em !important;
  }
  .sm-hidden {
    display: inline-block !important;
  }
  .sm-block {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .kbz-container {
    margin: 0 3em !important;
  }
  .sm-hidden {
    display: inline-block !important;
  }
  .sm-block {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .kbz-container {
    margin: 0 1em !important;
  }
  .kbz-container .kbz-col-6, .kbz-container .kbz-col-8, .kbz-container .kbz-col-12 {
    width: 100% !important;
    text-align: center !important;
  }
  .kbz-container .kbz-col-2, .kbz-container .kbz-col-3, .kbz-container .kbz-col-4 {
    width: 50% !important;
    text-align: center !important;
  }
  .kbz-container .kbz-col-8, .kbz-container .kbz-col-12 {
    margin: 0 auto;
  }
  .kbz-container .latest-news-block .kbz-col-6 {
    width: 70% !important;
    margin: 0 auto;
  }
  .kbz-container .kbz-sm-12 {
    width: 100% !important;
  }
  .kbz-container .kbz-sm-6 {
    width: 50% !important;
  }
  .kbz-container .nav-lists .nav-item {
    margin: 0 15px;
  }
  .kbz-container .sm-hidden {
    display: none !important;
  }
  .kbz-container .sm-block {
    display: inline-block !important;
  }
  .img-wrapper {
    display: none;
  }
  .country-card .title {
    text-align: center !important;
  }
  .subscribe-block {
    padding-bottom: 2em !important;
  }
  .blog-lists-carousel .kbz-container {
    margin: 0 2em !important;
  }
  .sm-hidden {
    display: inline-block !important;
  }
  .sm-block {
    display: none !important;
  }
  .blog-lists-carousel .carousel {
    width: 80% !important;
  }
  .footer-block .w-33 {
    text-align: left !important;
  }
  .footer-block .footer-logo {
    text-align: left !important;
  }
}
@media (max-width: 575.98px) {
  .kbz-container {
    margin: 0 1em !important;
  }
  .kbz-container .kbz-col-2, .kbz-container .kbz-col-3, .kbz-container .kbz-col-4, .kbz-container .kbz-col-6, .kbz-container .kbz-col-8, .kbz-container .kbz-col-12 {
    width: 100% !important;
    text-align: center !important;
  }
  .kbz-container .kbz-col-3, .kbz-container .kbz-col-4 {
    width: 80% !important;
    margin: 0 auto;
  }
  .kbz-container .kbz-sm-6 {
    width: 50% !important;
  }
  .kbz-container .kbz-sm-12 {
    width: 100% !important;
  }
  .kbz-container .nav-lists .nav-item {
    margin: 0 15px;
  }
  .kbz-container .sm-hidden {
    display: none !important;
  }
  .kbz-container .sm-block {
    display: inline-block !important;
  }
  .kbz-container .latest-news-block .kbz-col-6 {
    width: 90% !important;
    margin: 0 auto;
  }
  .kbz-container .blog-post-detail {
    width: 80%;
    margin: auto;
  }
  .footer-block .w-33 {
    text-align: left !important;
  }
  .footer-block .footer-logo {
    text-align: left !important;
  }
  .title, .banner-block .hero-text {
    line-height: 30px;
  }
  .blog-lists-carousel .carousel {
    width: 90% !important;
    margin: 0 auto;
  }
  .blog-card .title, .blog-card .subtitle {
    height: unset;
  }
  .blog-card .blog-info {
    height: unset;
    flex-wrap: wrap;
  }
}
.kbz-container {
  margin: 0 16em;
}
.kbz-container .kbz-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.kbz-container .kbz-row .kbz-col-2 {
  width: 16.66%;
}
.kbz-container .kbz-row .kbz-col-3 {
  width: 25%;
}
.kbz-container .kbz-row .kbz-col-4 {
  width: 33.33%;
}
.kbz-container .kbz-row .kbz-col-6 {
  width: 50%;
}
.kbz-container .kbz-row .kbz-col-8 {
  width: 66.66%;
}
.kbz-container .kbz-row .kbz-col-12 {
  width: 100%;
}
