<template>
    <div class="login-container text-align-center">
        <h1>Login</h1>
        <form action="javascript:void(0)" class="row" method="post">
            <div class="form-group col-12">
                <label for="email" class="font-weight-bold">Email</label>
                <input type="text" v-model="auth.email" name="email" id="email" class="form-control">
            </div>
            <div class="form-group col-12">
                <label for="password" class="font-weight-bold">Password</label>
                <input type="password" v-model="auth.password" name="password" id="password" class="form-control">
            </div>
            <div class="col-12 mb-2">
                <button type="submit" :disabled="processing" @click="login" class="btn btn-primary btn-block">
                    {{ processing ? "Please wait" : "Login" }}
                </button>
            </div>
            <div class="col-12 text-center">
                <label>Don't have an account? <router-link :to="{name:'register'}">Register Now!</router-link></label>
            </div>
        </form>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'
    export default {
        name: "login",
        data () {
            return {
                auth:{
                    email:"",
                    password:""
                },
                processing:false
            }
        },
        methods: {
            ...mapActions({
                signIn: 'auth/login'
            }),
            async login() {
                this.processing = true
                await axios.get('/sanctum/csrf-cookie')
                await axios.post('/login',this.auth).then(({data})=>{
                    this.signIn()
                }).catch(({response:{data}})=>{
                    alert(data.message)
                }).finally(()=>{
                    this.processing = false
                })
            },
        }
    }
</script>
